# Part 1

In [61]:
#!pip install pandas
import pandas as pd
import re

# Open the file
with open('input.txt', 'r') as file:
    lines = file.readlines()

# Initialize an empty list to store the numbers
numbers = []

# Iterate over each line
for line in lines:
    # Find all the numbers in the line
    line_numbers = re.findall(r'\d', line)
    # Take first and last number in line
    line_number = int(line_numbers[0] + line_numbers[-1])
    
    numbers.append(line_number)

# Convert the list to a DataFrame
df = pd.DataFrame(numbers)

      0
0    18
1    82
2    78
3    11
4    98
..   ..
995  61
996  98
997  37
998  52
999  75

[1000 rows x 1 columns]

In [62]:
df
# Solution 1
total_sum = df.sum()
print(total_sum)

0    55607
dtype: int64

# Part 2

In [32]:
import pandas as pd
import re


# Mapping of words to digits
word_to_digit = {
    'one': '1',
    'two': '2',
    'three': '3',
    'four': '4',
    'five': '5',
    'six': '6',
    'seven': '7',
    'eight': '8',
    'nine': '9'
}
# List of words and digits
words_and_digits = list(word_to_digit.keys()) + [str(i) for i in range(1, 10)]

# Regex pattern
pattern = re.compile('(?=(' +'|'.join(words_and_digits) + '))')

# Open the file
with open('input.txt', 'r') as file:
    lines = file.readlines()

# Initialize an empty list to store the numbers
numbers = []

# Iterate over each line
for line in lines:
    # Find all the numbers in the line and convert words to digits based on word_to_digits
    matches = re.findall(pattern, line)
    #print(matches)
    line_numbers = [int(word_to_digit.get(match, match)) for match in matches]
    # print(line_numbers)
    # Take first and last number in line
    line_number = int(str(line_numbers[0]) + str(line_numbers[-1]))
    numbers.append(int(line_number))

# Convert the list to a DataFrame
df = pd.DataFrame(numbers)
df

      0
0    69
1    82
2    28
3    11
4    98
..   ..
995  66
996  88
997  37
998  42
999  55

[1000 rows x 1 columns]

In [33]:
# Solution 2
total_sum = df.sum()
print(total_sum)

0    55291
dtype: int64